.has-search {
  display: contents;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.675rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  filter: opacity(0.2);
  color: #aaa;
}
.has-search .form-control {
  padding-left: 1.675rem;
}
body {
  background-color: lightblue;
  input::before {
    background: url(/icons/search.svg) no-repeat scroll 15px 10px;
    content: "";
  }
  #back {
    background-color: #38c5d875;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  .row {
    margin: 0;
    // padding-bottom: 35px;
  }
  .col {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .card {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  #icon {
    height: 100px;
  }
  // #hr {
  //   border: 1px solid black;
  //   width: 60%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}
#left-side {
  padding: 1%;
  width: 1060px;
  height: fit-content;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-top: 19px;
  background: aliceblue;
}
#card {
  background-color: white;
  h6 {
    font-size: 0.6rem;
  }
  display: inline-flex;
  //   border: 1px solid;
  padding: 15px;

  // sombra
  -webkit-box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.75);
  .col {
    text-align: right;
    #icon {
      height: 62px;
      width: 62px;
      border: 1px solid transparent;
      border-radius: 45px;
    }
    #ico {
      width: max-content;
    }
  }
}
